TZ=Europe/Kyiv
APP_ID=4129620
SERVER_EXE=R5/Binaries/Win64/WindroseServer-Win64-Shipping.exe
SERVER_ARGS=-log -P2pProxyAddress=YOUR_PUBLIC_IP
SKIP_UPDATE=0
AUTO_RECREATE_PREFIX=1
WINEBOOT_TIMEOUT_SECS=180
WINEPREFIX=/home/steam/windrose/pfx
WINEARCH=win64
WINEDEBUG=-all
